version: "3.7"
services:
  efs-db:
    image: postgres:13
    container_name: efs-db
    env_file:
      - ./docker-compose.env
    volumes:
      - db:/var/lib/postgresql/data
  efs-nats:
    image: nats:2.1.8
    container_name: efs-nats
  efs-producer:
    command: /efsearch/entrypoint.sh producer
    build:
      context: ./
      dockerfile: ./backend/Dockerfile
    image: efsearch-backend:latest
    container_name: efs-producer
  efs-consumer:
    command: /efsearch/entrypoint.sh consumer
    image: efsearch-backend:latest
    container_name: efs-consumer
volumes:
  db: {}
