version: "3.7"
services:
  efs-db:
    image: postgres:13
    container_name: efs-db
    env_file:
      - ./docker-compose.env
    volumes:
      - db:/var/lib/postgresql/data
  efs-nats:
    image: nats:2.1.8
    container_name: efs-nats
  efs-db-admin:
    command: /efsearch/entrypoint.sh db-admin
    build:
      context: ./
      dockerfile: ./backend/Dockerfile
    image: efsearch-backend:latest
    container_name: efs-db-admin
    env_file:
      - ./docker-compose.env
    depends_on:
      - efs-db
  efs-scheduler:
    command: /efsearch/entrypoint.sh scheduler
    image: efsearch-backend:latest
    container_name: efs-scheduler
    env_file:
      - ./docker-compose.env
    depends_on:
      - efs-db
      - efs-nats
      - efs-fetcher
  efs-fetcher:
    command: /efsearch/entrypoint.sh fetcher
    image: efsearch-backend:latest
    container_name: efs-fetcher
    env_file:
      - ./docker-compose.env
    depends_on:
      - efs-db
      - efs-nats
volumes:
  db: {}
