.article {
}
.article div.date {
	font-size: 1.1em;
	padding: 5px 0px 10px 0px;
}
.article .date .red {
	color: red;
}
.article .img {
	margin-right: 5px;
	margin-bottom: 5px;
}
.article .perex {
}
.article div.text {
	font-size: 1.1em;
}
.article .text p {
	margin-top: 0;
	margin-bottom: 14px;
}
.article .text p:last-child {
	margin-top: 0;
	margin-bottom: 0;
}
.article div.text .matches td {
	font-size: 0.9em;
}
.article .text img {
	max-width: 506px;
}
.article .author {
	text-align: left;
	padding-left: 8px;
}

.article .picinfo {
	text-align: center;
	font-style: italic;
	margin-top: 5px;
}

.article-perex-top {
	font-size: 1.1em;
}
.article-perex {
	font-size: 1.0em;
}

.article-teamlogos {
	float: right;
}

.right-articles .article-teamlogos {
	padding-right: 5px;
}

.article-teamlogos img {
	margin-left: 3px;
}


.expres {
	border-bottom: 1px solid #dadada;
	padding: 7px 0px 10px 0px;
}


.preview h3.title, .report h3.title {
	margin: 0px;
	margin-bottom: 8px;
	padding: 0px;
}
.preview .text, .report .text {
	width: 99.7%;
}
.preview .author, .report .author {
	/*padding-left: 5px;*/
	color: #9A9A9A;
	margin-bottom: 5px;
}

.article-preview-title, .article-report-title {
	padding: 2px 0px 5px 4px;
	font-weight: bold;
	float: left;
}

.article-preview-date, .article-report-date {
	padding: 2px 4px 5px 0px;
	font-weight: bold;
	float: right;
}

.article-report-group {
	font-weight: bold;
	color: #950022;
	padding: 4px;
}

.article-tipy-title {
	padding: 2px 0px 5px 4px;
	font-weight: bold;
	color: #950022;
}

.article .text .subtitle {
	background: #DCEBC5;
	color: #950022;
	font-weight: bold;
	padding: 7px;
	font-size: 13px;
	margin-bottom: 14px;
	clear: both;
}

.right-articles .art {
	width: 100%;
	background: white;
	border-bottom: 1px solid #DCEBC5;
	padding: 5px 0px;
}
.right-articles .art .sep {
	float: left;
	width: 5px;
}
.right-articles .art .img {
	float: left;
}
.right-articles .art .img img {
	width: 70px;
	height: 60px;
}
.right-articles .art .tit {
	float: left;
	width: 205px;
}
.right-articles .art .tit .date {
	color: #656565;
	padding-top: 0px;
}
.right-articles a {
	color: #950022;
}




.best-comment p {
	margin-bottom: 5px;
}

.best-comment .myvote {
	float: left;
	font-weight: bold;
	color: #aa0000;
	padding: 2px 0px 0px 5px;
}

.best-comment .marksdiv {
	width: 140px;
	height: 22px;
	margin: 0 auto;
	text-align: center;
}

.best-comment .marksdiv.loader img {
	margin-top: 4px;
}

.best-comment .mark {
	float: left;
	margin: 0 3px;
	border: 1px solid #555555;
	width: 20px;
	height: 17px;
	padding-top: 3px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
}

.best-comment.closed .mark {
	border: 1px solid #cccccc;
	color: #999999;
}

.best-comment .mark:hover, .best-comment .mark.set {
	background: #A5BB77;
	border: 1px solid #41584A;
	color: black;
}

.best-comment .marksinfo {
	float: right;
	padding-top: 4px;
	width: 175px;
	text-align: center;
	color: #A5BB77;
	font-weight: bold;
}
.best-comment .marksinfo.error {
	color: #A11019;
}
.best-comment .markshint {
	float: left;
	padding-top: 4px;
	padding-left: 50px;
	color: gray;
}

.article .promo {
	display: block;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	height /*\**/: 27px\9;
}

.article .promo .yel {
	color: #ffe01a;
}

.review-matches-row td {
	background: #EDEDED !important;
}

.bl-preview-live-icon
{
	position: absolute;
	top: 1px;
	left: 458px;
}


.e-atom-matches-text-embed {
	clear: both;
	background: #EDEDED;
	padding: 5px;
	margin: 10px 0;
}

.e-atom-matches-text-embed__content {
	background: white;
	padding: 5px;
}

.e-atom-matches-text-embed__content p {
	margin-top: 10px;
	margin-bottom: 0;
}

.btn-secondary {
	display: inline-block;
	padding: 10px 5px 5px;
}

.fw-bold {
	font-weight: bold;
}

.e-ui-underlined-title {
	position: relative;
}

.e-ui-underlined-title__title {
	display: inline-block;
	margin: 5px;
	font-size: 13px;
}

.e-ui-underlined-title__date {
	display: inline-block;
	position: absolute;
	right: 5px;
	top: 6px;
	font-weight: bold;
}

.e-atom-matches-text-embed .e-ui-underlined-title {
	padding-bottom: 5px;
}

.e-rich-text--article + .subtitle, .e-rich-text--article + .box {
	clear: both;
}

.subtitle + .report, .subtitle + .box, .box + .subtitle {
	margin-top: 14px;
}

.subtitle-logo {
	margin-bottom: 14px;
	font-size: 13px;
	clear: both;
}

.subtitle + br, .subtitle-logo + br {
	display: none;
}

.article .text hr {
	border-top: 1px solid silver;
	border-bottom: 0;
}

.article .text hr + p {
	margin-top: 14px;
}

.article .text .twitter-tweet {
	margin-top: 14px !important;
	margin-bottom: 14px !important;
}
